@font-face {
    font-family: "Merriweather Regular";
    src: url(../font/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Merriweather Bold";
    src: url(../font/Merriweather/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Lato Regular";
    src: url(../font/Lato/Lato-Regular.ttf);
}

:root {
    --font-default: "Merriweather Regular";
    --font-default-bold: "Merriweather Bold";
    --font-nav: "Lato Regular";
}

/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: var(--font-default);
}

main {
    padding-top: 95px;
    padding-bottom: 95px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 2rem;
}

a, p {
    color: #202020;
}

h2 {
    font-size: 3rem;
    font-family: var(--font-default-bold);
    font-weight: bold;
}

section:not(:last-of-type) {
    margin-bottom: 95px;
}

article:not(:last-of-type) {
    margin-bottom: 95px;
}

/* Header */

.nav {
    font-family: var(--font-nav);
    text-align: right;
    margin-top: 20px;
}

.nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

/* Main */

.info {
    margin-left: 140px;
    margin-right: 140px;
}

.info article {
    height: 500px;
}

.info article p {
    width: 50%;
    margin-top: 1rem;
    padding-right: 10%;
} 

.info article h2 {
    width: 50%;
}

.info article:nth-of-type(2n) h2,
.info article:nth-of-type(2n) p {
    margin-left: auto;
}

.info article:nth-of-type(1) {
    background: url(../img/illustration1.gif) no-repeat top right/contain;
}
.info article:nth-of-type(2) {
    background: url(../img/illustration2.png) no-repeat top left/contain;
}
.info article:nth-of-type(3) {
    background: url(../img/illustration3.png) no-repeat top right/contain;
}

.links a {
    padding: 11px 19px;
    margin-right: 13px;
    border-radius: 10px;
}

.download {
    background-color: #202020;
    color: #FFFFFF;
}

.subscribe {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.content {
    padding-left: 104px;
    padding-right: 104px;
    text-align: center;
}

.content img {
    width: 30%;
    display: inline-block;
}

.content p {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.welcome img:nth-of-type(2) {
    margin-left: 4%;
    margin-right: 4%;
}

.examples img {
    width: 45%;
    margin-bottom: 16px;
}

.examples img:nth-of-type(1n) {
    margin-right: 16px;
}
