@font-face {
    font-family: "Merriweather Regular";
    src: url(../font/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Merriweather Bold";
    src: url(../font/Merriweather/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Lato Regular";
    src: url(../font/Lato/Lato-Regular.ttf);
}

:root {
    --font-default: "Merriweather Regular";
    --font-default-bold: "Merriweather Bold";
    --font-nav: "Lato Regular";
}

/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-default);
    margin-top: 16px;
    margin-bottom: 16px;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 2rem;
}

a, p {
    color: #202020;
}

.grey {
    color: #7E7E7E;
}

h2 {
    font-size: 3rem;
    font-family: var(--font-default-bold);
    font-weight: bold;
    margin-bottom: 16px;
}

section:not(:last-of-type) {
    margin-bottom: 95px;
}


article:not(:last-of-type) {
    margin-bottom: 95px;
}

/* Header */

.nav {
    font-family: var(--font-nav);
    text-align: right;
}

.nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.nav a {
    text-transform: uppercase;
}

/* Main */

main {
    padding-top: 95px;
    padding-bottom: 95px;
}

/* Info */

.info {
    margin-left: 140px;
    margin-right: 140px;
}

.info article {
    min-height: 500px;
}

.info article p {
    width: 50%;
    margin-top: 1rem;
    padding-right: 10%;
} 

.info article h2 {
    width: 50%;
}

.info article:nth-of-type(2n) h2,
.info article:nth-of-type(2n) p {
    margin-left: auto;
}

.info article:nth-of-type(1) {
    background: url(../img/illustration1.gif) no-repeat top right/50% 100%;
}

.info article:nth-of-type(2) {
    background: url(../img/illustration2.png) no-repeat top left/50% 100%;

}
.info article:nth-of-type(3) {
    background: url(../img/illustration3.png) no-repeat top right/50% 100%;
}

.links a {
    padding: 11px 19px;
    margin-right: 13px;
    border-radius: 10px;
}

.download {
    background-color: #202020;
    color: #FFFFFF;
}

.subscribe {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    color: #202020;
}

/* Content section */
.content {
    margin-left: 104px;
    margin-right: 104px;
    text-align: center;
}

.content p {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    width: 30%;
    display: inline-block;
}

.content img:hover {
    /* box-shadow: 0px 0px 10px #d6c095; */
    border: 4px solid  #d6c0957d;
}

/* Welcome */

.welcome img:nth-of-type(2) {
    margin-left: 4%;
    margin-right: 4%;
}

/* examples of use article */

.examples img {
    width: 45%;
    margin-bottom: 8%;
}

.examples img:nth-of-type(odd) {
    margin-right: 4%;
}

.examples img:nth-of-type(even) {
    margin-left: 4%;
}

/* membership article */

.membership > p {
    width: 50%;
}

.membership article {
    margin-top: 70px;
    background: #55ACEE1A;
    display: inline-block;
    padding: 64px;
    padding-bottom: 48px;
}

h3 {
    font-size: 1.5rem;
}

.price {
    font-size: 5rem;
    line-height: normal;
    margin-top: 44px;
    margin-bottom: 44px;
}

.membership ul {
    margin-top: 12px;
}

.membership a {
    display: inline-block;
    line-height: normal;
    padding: 16px 48px;
    background-color: #55ACEE;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 16px;
}

/* footer */

footer {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li:not(:last-of-type) {
    margin-right: 16px;
}

.instagram {
    color: #FCAF45;
}

.twitter {
    color: #55ACEE;
}

.youtube {
    color: #C4302B;
}